<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.maven.core.dao.ConfigDao">
    <select id="getMonth" resultType="String">
        SELECT config_value FROM bj_config
        WHERE config_name="month"
    </select>

    <update id="setMonth" parameterType="Integer">
        UPDATE bj_config SET config_value = #{month}
        WHERE config name = "month"
    </update>

    <update id="resetSerial">
        UPDATE bj_config SET config_value = 1
        WHERE config_type = 1
    </update>

    <select id="getCaseSerial" parameterType="String" resultType="Integer">
        SELECT config_value FROM bj_config
        WHERE config_name = #{configName} FOR UPDATE
    </select>

    <update id="setCaseSerial" parameterType="String">
        UPDATE bj_config SET config_value = config_value + 1
        WHERE config_name = #{configName}
    </update>
</mapper>